// body {
//   background-color: #f7f2f2;
// }
// .grid-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, 300px);
//   /* minmax(300px, 1fr)*/
//   grid-gap: 30px;
//   padding: 20px;
//   justify-items: center;
//   justify-content: center;
//   align-items: start;
// }
// .box {
//   padding: 2em;
// }
// .item {
//   margin-bottom: 2em;
// }

// /* checkbox-rect */
// .checkbox-rect input[type="checkbox"] {
//   display: none;
// }
// .checkbox-rect input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 20px;
//   font: 14px/20px "Open Sans", Arial, sans-serif;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .checkbox-rect input[type="checkbox"]:hover + label:hover {
//   color: rgb(23, 86, 228);
// }
// .checkbox-rect input[type="checkbox"]:hover + label:before {
//   $background: #50565a;
//   box-shadow: inset 0px 0px 0px 2px #f7f2f2;
// }
// .checkbox-rect input[type="checkbox"] + label:last-child {
//   margin-bottom: 0;
// }
// .checkbox-rect input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.4em;
//   height: 1.4em;
//   border: 1px solid #343a3f;
//   border-radius: 0.2em;
//   position: absolute;
//   left: 0;
//   top: 0;
//   -webkit-transition: all 0.2s, $background 0.2s ease-in-out;
//   transition: all 0.2s, $background 0.2s ease-in-out;
//   $background: #f3f3f3;
// }
// .checkbox-rect input[type="checkbox"]:checked + label:before {
//   width: 1.3em;
//   height: 1.3em;
//   border-radius: 0.2em;
//   border: 2px solid #fff;
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
//   $background: #50565a;
//   box-shadow: 0 0 0 1px #000;
// }
// /* checkbox-rect end */

// /* checkbox-rect2 */
// .checkbox-rect2 input[type="checkbox"] {
//   display: none;
// }
// .checkbox-rect2 input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 20px;
//   font: 14px/20px "Open Sans", Arial, sans-serif;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .checkbox-rect2 input[type="checkbox"]:hover + label:hover {
//   color: rgb(23, 86, 228);
// }
// .checkbox-rect2 input[type="checkbox"]:hover + label:before { 
//   border: 1px solid #343a3f;
//   box-shadow: 2px 1px 0 #343a3f;
// }
// .checkbox-rect2 input[type="checkbox"] + label:last-child {
//   margin-bottom: 0;
// }
// .checkbox-rect2 input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.4em;
//   height: 1.4em;
//   border: 1px solid #343a3f;
//   border-radius: 0.2em;
//   position: absolute;
//   left: 0;
//   top: 0;
//   -webkit-transition: all 0.2s, $background 0.2s ease-in-out;
//   transition: all 0.2s, $background 0.2s ease-in-out;
//   $background: rgba(255, 255, 255, 0.03);
//   box-shadow: -2px -1px 0 #343a3f;
//   $background: #f3f3f3;
// }
// .checkbox-rect2 input[type="checkbox"]:checked + label:before {
//   border: 2px solid #fff;
//   border-radius: 0.3em;
//   $background: #50565a;
//   box-shadow: 2px 1px 0 #50565a;
// }
// /* checkbox-rect2 end */

// /* checkbox-circle */
// .checkbox-circle input[type="checkbox"] {
//   display: none;
// }
// .checkbox-circle input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 20px;
//   font: 14px/20px "Open Sans", Arial, sans-serif;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .checkbox-circle input[type="checkbox"]:hover + label:hover {
//   color: rgb(23, 86, 228);
// }
// .checkbox-circle input[type="checkbox"]:hover + label:before {
//   border: 1px solid #343a3f;
//   width: 1.2em;
//   height: 1.2em;
//   border: 2px solid #fff;
//   $background: #50565a;
//   box-shadow: 0 0 0 1px #000;
// }
// .checkbox-circle input[type="checkbox"] + label:last-child {
//   margin-bottom: 0;
// }
// .checkbox-circle input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.4em;
//   height: 1.4em;
//   border: 1px solid #343a3f;
//   border-radius: 1em;
//   position: absolute;
//   left: 0;
//   top: 0;
//   -webkit-transition: all 0.2s, transform 0.3s ease-in-out;
//   transition: all 0.2s, transform 0.3s ease-in-out;
//   $background: #f3f3f3;
// }
// .checkbox-circle input[type="checkbox"]:checked + label:before {
//   border-radius: 1em;
//   border: 2px solid #fff;
//   width: 1.2em;
//   height: 1.2em;
//   $background: #50565a;
//   box-shadow: 0 0 0 1px #000;
//   -webkit-transform: rotateX(180deg);
//   transform: rotateX(180deg);
// }
// /* checkbox-circle end */

// /* checkbox-circle2 */
// .checkbox-circle2 input[type="checkbox"] {
//   display: none;
// }
// .checkbox-circle2 input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 20px;
//   font: 14px/20px "Open Sans", Arial, sans-serif;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .checkbox-circle2 input[type="checkbox"]:hover + label:hover {
//   color: rgb(23, 86, 228);
// }
// .checkbox-circle2 input[type="checkbox"]:hover + label:before {
//   border: 1px solid #343a3f;
//   box-shadow: 2px 1px 0 #343a3f;
// }
// .checkbox-circle2 input[type="checkbox"] + label:last-child {
//   margin-bottom: 0;
// }
// .checkbox-circle2 input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.4em;
//   height: 1.4em;
//   border: 1px solid #343a3f;
//   border-radius: 1em;
//   position: absolute;
//   left: 0;
//   top: 0;
//   -webkit-transition: all 0.2s, $background 0.2s ease-in-out;
//   transition: all 0.2s, $background 0.2s ease-in-out;
//   $background: #f3f3f3;
//   box-shadow: -2px -1px 0 #343a3f;
// }
// .checkbox-circle2 input[type="checkbox"]:checked + label:before {
//   border-radius: 1em;
//   border: 2px solid #fff;
//   width: 1.15em;
//   height: 1.15em;
//   $background: #50565a;
//   box-shadow: 2px 1px 0 #50565a;
// }
// /* checkbox-circle2 end */

// /* toggle-rect */
// .toggle-rect input[type="checkbox"] {
//   display: none;
// }
// .toggle-rect input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   border-radius: 0.2em;
//   $background: #f3f3f3;
//   box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .toggle-rect input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 0.2em;
//   $background: #50565a;
//   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-rect input[type="checkbox"]:checked + label {
//   $background: #fff;
// }
// .toggle-rect input[type="checkbox"]:checked + label:before {
//   box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
//   left: 1.6em;
// }
// /* toggle-rect end*/

// /* toggle-rect-bw */
// .toggle-rect-bw input[type="checkbox"] {
//   display: none;
// }
// .toggle-rect-bw input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   $background: #50565a;
//   border-radius: 0.2em;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .toggle-rect-bw input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 0.2em;
//   $background: #f7f2f2;
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-rect-bw input[type="checkbox"]:checked + label {
//   $background: #40464a;
// }
// .toggle-rect-bw input[type="checkbox"]:checked + label:before {
//   left: 1.6em;
// }
// /* toggle-rect-bw end*/

// /* toggle-rect-color */
// .toggle-rect-color input[type="checkbox"] {
//   display: none;
// }
// .toggle-rect-color input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   $background: #e84d4d;
//   border-radius: 0.2em;
//   box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .toggle-rect-color input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 0.2em;
//   $background: #50565a;
//   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-rect-color input[type="checkbox"]:checked + label {
//   $background: #47cf73;
// }
// .toggle-rect-color input[type="checkbox"]:checked + label:before {
//   box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
//   left: 1.6em;
// }
// /* toggle-rect-color end*/

// /* toggle-rect-color */
// .toggle-rect-dark input[type="checkbox"] {
//   display: none;
// }
// .toggle-rect-dark input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   $background: #303e58;
//   border-radius: 0.2em;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
// }
// .toggle-rect-dark input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 0.2em;
//   $background: #e84d4d;
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-rect-dark input[type="checkbox"]:checked + label:before {
//   $background: #47cf73;
//   left: 1.6em;
// }
// /* toggle-rect-dark end*/

// /* toggle-pill */
// .toggle-pill input[type="checkbox"] {
//   display: none;
// }
// .toggle-pill input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   border-radius: 1em;
//   $background: #f3f3f3;
//   box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -webkit-transition: $background 0.1s ease-in-out;
//   transition: $background 0.1s ease-in-out;
// }
// .toggle-pill input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 1em;
//   $background: #50565a;
//   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-pill input[type="checkbox"]:checked + label {
//   $background: #fff;
// }
// .toggle-pill input[type="checkbox"]:checked + label:before {
//   box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
//   left: 1.6em;
// }
// /* toggle-pill end */

// /* toggle-pill-bw */
// .toggle-pill-bw input[type="checkbox"] {
//   display: none;
// }
// .toggle-pill-bw input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   $background: #50565a;
//   border-radius: 1em;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -webkit-transition: $background 0.1s ease-in-out;
//   transition: $background 0.1s ease-in-out;
// }
// .toggle-pill-bw input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 1em;
//   $background: #f7f2f2;
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-pill-bw input[type="checkbox"]:checked + label {
//   $background: #40464a;
// }
// .toggle-pill-bw input[type="checkbox"]:checked + label:before {
//   left: 1.6em;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
// /* toggle-pill-bw end */

// /* toggle-pill-color */
// .toggle-pill-color input[type="checkbox"] {
//   display: none;
// }
// .toggle-pill-color input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   border-radius: 1em;
//   $background: #e84d4d;
//   box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -webkit-transition: $background 0.1s ease-in-out;
//   transition: $background 0.1s ease-in-out;
// }
// .toggle-pill-color input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 1em;
//   $background: #fff;
//   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .toggle-pill-color input[type="checkbox"]:checked + label {
//   $background: #47cf73;
// }
// .toggle-pill-color input[type="checkbox"]:checked + label:before {
//   box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
//   left: 1.6em;
// }
// /* toggle-pill-color end */

// /* toggle-pill-color */
// .toggle-pill-dark input[type="checkbox"] {
//   display: none;
// }
// .toggle-pill-dark input[type="checkbox"] + label {
//   display: block;
//   position: relative;
//   width: 3em;
//   height: 1.6em;
//   margin-bottom: 20px;
//   border-radius: 1em;
//   $background: #303e58;
//   box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -webkit-transition: $background 0.1s ease-in-out;
//   transition: $background 0.1s ease-in-out;
// }
// .toggle-pill-dark input[type="checkbox"] + label:before {
//   content: "";
//   display: block;
//   width: 1.2em;
//   height: 1.2em;
//   border-radius: 1em;
//   $background: #e84d4d;
//   position: absolute;
//   left: 0.2em;
//   top: 0.2em;
//   -webkit-transition: all 0.2s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
// }
// .toggle-pill-dark input[type="checkbox"]:checked + label:before {
//   $background: #47cf73;
//   box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
//   left: 1.6em;
//   -webkit-transform: rotate(295deg);
//   transform: rotate(295deg);
// }
/* toggle-pill-dark end */
// /* для элемента input c type="checkbox" */
// .custom-checkbox {
//     /* //position: absolute; */
//     z-index: -1;
//     opacity: 0.5;
//   }

//   /* для элемента label, связанного с .custom-checkbox */
//   .custom-checkbox+label {
//     display: inline-flex;
//     align-items: center;
//     user-select: none;
//   }

//   /* создание в label псевдоэлемента before со следующими стилями */
//   .custom-checkbox+label::before {
//     content: '';
//     display: inline-block;
//     width: 2em;
//     height: 2em;
//     flex-shrink: 0;
//     flex-grow: 0;
//     border: 1px solid #adb5bd;
//     border-radius: 0.25em;
//     margin-right: 0.5em;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: 50% 50%;
//   }

//   /* стили при наведении курсора на checkbox */
//   .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
//     border-color: #b3d7ff;
//   }

//   /* стили для активного чекбокса (при нажатии на него) */
//   .custom-checkbox:not(:disabled):active+label::before {
//     background-color: #b3d7ff;
//     border-color: #b3d7ff;
//   }

//   /* стили для чекбокса, находящегося в фокусе */
//   .custom-checkbox:focus+label::before {
//     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//   }

//   /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
//   .custom-checkbox:focus:not(:checked)+label::before {
//     border-color: #80bdff;
//   }

//   /* стили для чекбокса, находящегося в состоянии checked */
//   .custom-checkbox:checked+label::before {
//     border-color: #0b76ef;
//     background-color: #0b76ef;
//     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
//   }

//   /* стили для чекбокса, находящегося в состоянии disabled */
//   .custom-checkbox:disabled+label::before {
//     background-color: #e9ecef;
//   }


//   .custom-check-icon {
//     position: relative;
//     width: 10px;
//     height: 10px;
//     border: 1px solid #50514f;
//     margin-right: 8px;
//   }
  
//   .custom-check-icon::before {
//     content: "";
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: #9b7ede;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//   .custom-check-icon::before {
//     content: "";
//     position: absolute;
//     display: none;
//     width: 50px;
//     height: 50px;
//     background-color: #9b7ede;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
  
//   label input:checked ~ .custom-check-icon::before {
//     display: block;
//   }
//   label input {
//     /* //display: none; */
//   }
/* .custom-checkbox:checked{
    position: absolute;
    left: 150px;
    z-index: 10;
    opacity: 0.5
}
.custom-checkbox:not(:checked) {
   position: absolute;
   left: 150px;
   z-index: 10;
   opacity: 0.5
}

.custom-checkbox :checked + label, 
.custom-checkbox :not(:checked) + label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox :checked + label:before, 
.custom-checkbox :not(:checked) + label:before{
    content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
} */
/* 
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 */