footer{
    position:absolute;
    margin: auto 0 0 auto;
    top:0;
    left:0;
    right:0;
    bottom: 100px;
    //align-content: end;
    //vertical-align: bottom;
    background-color: aqua;
    height: 100px;
    width: 100px;
    z-index: 5;
}