@import "./header";

.info-bar{
    position:absolute;
    right:0px;
    top: 20vh;
    width: 0;//500px;
    height: 0;//200px;
    background-color: rgba(0, 255, 255, 0.164);
    z-index: 5;
    div{
        position: static;
    }
}