@import "./header";
@import "./toolbar";

$hToolbar:calc(90vh - 2px - $hHeader);
$hInfoBarHeader: 6em;
$wToolbar:calc(100vw / 5);
.collapsing {
    -webkit-transition-delay: 10.8s;
    transition-delay: 10.8s;
    transition: width 10.8s ease;
  }
//.info-bar{
//    display: inline-block;
//    position: sticky;
    //position: absolute;
    //height: $hToolbar;

.info-bar{
    display: inline-block;
    position: absolute;
    right:0px;
    top: calc(6vh - 2px);
    width: $wToolbar;//0
    height: $hToolbar;//0
    background-color: $primary;
    z-index: 5;
    padding: 0;
    margin: 0;
    color: #fff;
    
    h3{
        text-align: center;
    }
    h6{
        text-align: center;
    }
    .info-bar-header{
        height: $hInfoBarHeader;
        margin-bottom: 15px;
        
    }
    .info-bar-window{
        //width: auto;
        height: calc($hToolbar - $hInfoBarHeader - 15px);
        overflow: 'auto';
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .infoBarBody{
        //border: 2px solid black;
        th, td{
            border: 2px solid black;
        }
    }
    

}
.info-bar-viwer{
    right:0px;
    left: auto;
    width: $wToolbar;
    height: $hToolbar;
    padding: 0;
    margin: 0;
}
//}
@media (max-width: 800px) {
    .info-bar{
        width: calc(100vw); 
        height: $hToolbar
    
    }
    .info-bar-viwer{
        width: calc(100vw);
        height: $hToolbar
    }
}
@media (min-width: 800px) and (max-width: 1500px)  {
    .info-bar{
        width: calc(300px); 
        height: $hToolbar
    }
    .info-bar-viwer{
        width: calc(300px); 
        height: $hToolbar
    }
}
.sita-button{
    height: $sizeButton;
    width: $sizeButton;
    
    //background: rgb(94, 255, 0);
    
}
.sita-button-close{
    margin: 5px;
     background: url(
         '../components/workerComponents/icon/white/x-square-svgrepo-com.svg'
         )  no-repeat center/80% $primary;
    //background: aqua;
}
    //     
//, .cesium-viewer-infoBoxContainer
//, 
// .cesium-viewer-infoBoxContainer
// {
//     position:absolute;
//     right:0px;
//     top: 6vh;
//     width: 500px;//0
//     height: $hToolbar;//0
//     background-color: rgba(0, 255, 255, 0.165);
//     z-index: 5;
    
// }
// .cesium-viewer-infoBoxContainer{
//     *{
//         border: 2px solid rgb(0, 255, 0);
//     }
//     iframe{
//         //width:500px;
//         //height:500px
//     }
// }
// .cesium-infoBox, .cesium-infoBox-visible{
//     margin: auto;
//     right:0px;
//     top: 6vh;
//     left:0px;
//     bottom: 0px;
//     width: 500px;
//     height: $hToolbar;
// }
// @media (max-width: 800px) {
//     .cesium-viewer-infoBoxContainer{
//         width: 100vw; 
//     }
// }
// @media (min-width: 800px) and (max-width: 1500px)  {
//     .cesium-viewer-infoBoxContainer{
//         width: 300px
//     }
// }

