@import "./checkbox";
@import "./header";
$paramBorder: solid 1px #00000088;
//$colorBackground: $primary2;
$primary: $colorBackground;
$white: #ffffff;
$black: #000000;
$listButton:#88888888;
// цвет кнопок сейрый
$secondary: #9ab6da;
$dark: #386086;
$light: #f2efee;
$success: #5ece45;
$info: #9ab6da;
$warning: #e41fc3;
$danger: #f44336;
$step:20px;
$sizeButton:30px;
$hToolbar:calc(100vh - 2px - $hHeader);



.toolbar{
    top: 6vh;
    //bottom: 0px;
    /* padding: 7px; */
    position:absolute;
    /* border: solid 2px; */
    /* border-color: brown; */
    /* height: 100%; */
    height:$hToolbar;
    /* width: 100%; */
    z-index: 10;
    /* background-color: #ffffff88; */
    align-content: space-between;
    
}
div.tooldar-out{
    /* top: 2px; */
    bottom: 2px;
    position:relative;
    /* border: solid 2px; */
    /* border-color: #ff3fff; */
    /* align-content: space-between; */
    height: $hToolbar;
    
    /* display: flex;
    justify-content: flex-end */

}


.div-button{
    display: inline-block;
    position: sticky;
    width: $sizeButton;
    top: 1px;
    bottom: 2px;
    
    /* border: solid 2px; */
    /* border-color: rgb(98, 41, 255); */
    /* border: $paramBorder; */
    /* background-color: #ffffff88; */
    vertical-align: top;
    
    button{
        display: absolute;
        margin-bottom: 1px;
        border-radius: 0% 25% 25% 0%;
        
    };
    .sita-button{
        height: $sizeButton;
        width: $sizeButton;
        //top: 20px;
    }
    //.sita-button-list{
        .list-open{
            background: url(
            '../components/workerComponents/icon/white/chevron-left-svgrepo-com.svg'
            )  no-repeat center/80% $primary;
        }
        .list-close{
            background: url(
            '../components/workerComponents/icon/white/chevron-right-svgrepo-com.svg'
            )  no-repeat center/80% $primary;
        }
        
    //}
    .sita-button-home{
        background: url(
            '../components/workerComponents/icon/white/home-svgrepo-com.svg'
            )  no-repeat center/80% $primary;
    }
    .sita-button-settings{
        background: url(
            '../components/workerComponents/icon/white/settings-svgrepo-com.svg'
            )  no-repeat center/80% $primary;
    }
    .sita-button-info{
        background: url(
            '../components/workerComponents/icon/white/info-circle-svgrepo-com.svg'
            )  no-repeat center/80% $primary;
    }
    .sita-button-legend{
        background: url(
            '../components/workerComponents/icon/white/layers-svgrepo-com.svg'
            )  no-repeat center/80% $primary;
    }
}
.div-collapse-list{
    width: calc(100vw / 5); 
    height: calc(94vh - 4px);
    overflow: auto;
}
@media (max-width: 800px) {
    .div-collapse-list{
        width: calc(100vw - $sizeButton); 
        height: calc(94vh - 4px)
    }
}
@media (min-width: 800px) and (max-width: 1500px)  {
    .div-collapse-list{
        width: calc(300px); 
        height: calc(94vh - 4px)
    }
}
.div-collapse{
    display: inline-block;
    position: sticky;
    color: #ffffff;
    /* width: 400px; */
    height: auto;
    //border: $paramBorder;
    background-color: $colorBackground;
    /* border-color: rgb(127, 255, 41); */
    
    /* li{
        //padding: 5px;
    } */
    ul{
        padding-left: $step;
        list-style-type: none;
        //padding: 20px;
        padding-bottom: 5px;
        div.p{
            display:block; 
        }
        p{ 
            //font-family: 'Roboto Slab';
            //font-weight: normal;
            font-weight: 700;
            font-size: 1em;
            display: inline; 
            padding-left: 0.25em
        }
    }
    li{
        padding-left: $step;
        p{ 
            //font-family: 'Times New Roman', Times, serif;
            font-weight: normal;
            font-size: 1em;
            display: inline; 
            padding-left: 0.25em;
        }
    }
    
    .collapse-li{
        
        //width: '20px';
        //height:'20px';
        
    }
    button.minus{
        width: $step;
        height:$step;
        margin-left: 0.25em;
        //padding-left: 0.25em;
        border-radius: 5px;
            background: url(
                '../components/workerComponents/icon/white/chevron-down-svgrepo-com.svg'
                )  no-repeat center/80% $listButton;
        }
    button.plus{
        width: $step;
        height:$step;
        margin-left: 0.25em;
        //padding-left: 0.25em;
        border-radius: 5px;
            background: url(
            '../components/workerComponents/icon/white/chevron-up-svgrepo-com.svg'
            )  no-repeat center/80% $listButton;
        }
            
    
    
}
