@import "./scss/toolbar";
@import "./scss/header";
@import "./scss/viewer";
$primary: #6f5f9ca4 ; //обводка кнопок #d33eba
$secondary: #9ab6da;
$dark: #386086;
$light: #f2efee;
$success: #5ece45;
$info: #9ab6da;
$warning: #e49b1f;
$danger: #f44336;


.sita-img{
    width:25px
}

/* .viewerBox{
    height: 100%
} */
@import "~bootstrap/scss/bootstrap.scss";