div#toolbar{
    padding: 7px;
    position:fixed;
    border: solid 2px;
    border-color: brown;
    /* height: 100%; */
    /* width: 20%; */
    z-index: 10;
    background-color: #ffffff88;
    
}
#viewerTest{
    position:absolute;
    height: 100%;
    width: 100%;
    

}
div#viewer{
    padding: 1px;
    position: fixed;
    height: 100%;
    width: 100%;
    border: solid 2px;
    border-color: rgb(159, 255, 4);
}