div#toolbar{
    padding: 7px;
    position:relative;
    border: solid 2px;
    border-color: brown;
    height: calc(20%-18px);
    width: calc(100%-18px);
}
#viewerTest{
    position:relative;
    height: 80%;
    width: 100%;
}
div#viewer{
    padding: 7px;
    position: fixed;
    height: 100%;
    width: 100%;
    border: solid 2px;
    border-color: rgb(159, 255, 4);
}