/* 
#viewerTest{
    position:absolute;
    height: 100%;
    width: 100%;
    

}
div.viewerBox{
    padding: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    border: solid 2px;
    border-color: rgb(159, 255, 4); 
} */